*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: navy;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #f0f0f0;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: navy;
}

nav ul li a:hover {
  color: darkblue;
}

main {
  padding: 20px;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: navy;
  color: white;
  padding: 10px;
  text-align: center;
}